In [1]:
import os
import pandas as pd

In [19]:
local_path = '../data/sample_cloud_matrix_tracker.csv'

colnames=['index','cloud_provider','vp_group','category','subscription','rec_rate', 'rec_avoidance', 'rec_trend','notes'] 

# df = pd.read_csv(local_path, names=colnames)
df = pd.read_csv(local_path, names=colnames, header=0)

In [20]:
df.head()

,index,cloud_provider,vp_group,category,subscription,rec_rate,rec_avoidance,rec_trend,notes
0,1,AWS,Group1,CategoryA,Subscription1,0.5,0.3,0.2,Initial metrics for AWS
1,2,Azure,Group2,CategoryB,Subscription2,0.7,0.1,0.4,Quarterly review
2,3,GCP,Group1,CategoryC,Subscription3,0.9,0.5,0.3,Yearly analysis
3,4,AWS,Group3,CategoryA,Subscription4,0.2,0.6,0.1,New subscription
4,5,Azure,Group1,CategoryB,Subscription5,0.8,0.3,0.5,Updated metrics

In [24]:
df.iloc[:1]

,index,cloud_provider,vp_group,category,subscription,rec_rate,rec_avoidance,rec_trend,notes
0,1,AWS,Group1,CategoryA,Subscription1,0.5,0.3,0.2,Initial metrics for AWS

In [25]:
df.to_string()

'    index cloud_provider vp_group   category    subscription  rec_rate  rec_avoidance  rec_trend                    notes\n0       1            AWS   Group1  CategoryA   Subscription1       0.5            0.3        0.2  Initial metrics for AWS\n1       2          Azure   Group2  CategoryB   Subscription2       0.7            0.1        0.4         Quarterly review\n2       3            GCP   Group1  CategoryC   Subscription3       0.9            0.5        0.3          Yearly analysis\n3       4            AWS   Group3  CategoryA   Subscription4       0.2            0.6        0.1         New subscription\n4       5          Azure   Group1  CategoryB   Subscription5       0.8            0.3        0.5          Updated metrics\n5       6            GCP   Group2  CategoryC   Subscription6       0.4            0.7        0.2             Final report\n6       7            AWS   Group3  CategoryA   Subscription7       0.3            0.4        0.6       Performance review\n7       8          Azure   Group1  CategoryB   Subscription8       0.6            0.5        0.7            Monthly check\n8       9            GCP   Group2  CategoryC   Subscription9       0.5            0.2        0.9           Annual summary\n9      10            AWS   Group3  CategoryA  Subscription10       0.7            0.3        0.4                 New data\n10     11          Azure   Group1  CategoryB  Subscription11       0.6            0.4        0.5          Updated records\n11     12            GCP   Group2  CategoryC  Subscription12       0.8            0.5        0.6          Year-end review\n12     13            AWS   Group3  CategoryA  Subscription13       0.9            0.7        0.1          Service metrics\n13     14          Azure   Group1  CategoryB  Subscription14       0.3            0.6        0.8         Quarterly update\n14     15            GCP   Group2  CategoryC  Subscription15       0.4            0.5        0.2           Mid-year check'

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           15 non-null     int64
 1   cloud_provider  15 non-null     object
 2   vp_group        15 non-null     object
 3   category        15 non-null     object
 4   subscription    15 non-null     object
 5   rec_rate        15 non-null     float64
 6   rec_avoidance   15 non-null     float64
 7   rec_trend       15 non-null     float64
 8   notes           15 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.2+ KB

In [27]:

local_path = '../data/sample_cloud_matrix_tracker.csv'

colnames=['index','cloud_provider','vp_group','category','subscription','rec_rate', 'rec_avoidance', 'rec_trend','notes'] 

# df = pd.read_csv(local_path, names=colnames)
df = pd.read_csv(local_path, names=colnames, header=0, dtype={'index': 'object'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           15 non-null     object
 1   cloud_provider  15 non-null     object
 2   vp_group        15 non-null     object
 3   category        15 non-null     object
 4   subscription    15 non-null     object
 5   rec_rate        15 non-null     float64
 6   rec_avoidance   15 non-null     float64
 7   rec_trend       15 non-null     float64
 8   notes           15 non-null     object
dtypes: float64(3), object(6)
memory usage: 1.2+ KB

In [28]:
# Create a Hash Value

df['hash'] = df['cloud_provider'].apply(hash)
df.head()

,index,cloud_provider,vp_group,category,subscription,rec_rate,rec_avoidance,rec_trend,notes,hash
0,1,AWS,Group1,CategoryA,Subscription1,0.5,0.3,0.2,Initial metrics for AWS,738197154807673692
1,2,Azure,Group2,CategoryB,Subscription2,0.7,0.1,0.4,Quarterly review,275056226631273493
2,3,GCP,Group1,CategoryC,Subscription3,0.9,0.5,0.3,Yearly analysis,-7264509166855455865
3,4,AWS,Group3,CategoryA,Subscription4,0.2,0.6,0.1,New subscription,738197154807673692
4,5,Azure,Group1,CategoryB,Subscription5,0.8,0.3,0.5,Updated metrics,275056226631273493

In [29]:
df['cloud_provider']

0       AWS
1     Azure
2       GCP
3       AWS
4     Azure
5       GCP
6       AWS
7     Azure
8       GCP
9       AWS
10    Azure
11      GCP
12      AWS
13    Azure
14      GCP
Name: cloud_provider, dtype: object

In [30]:
df[['cloud_provider', 'vp_group', 'category', 'subscription']]

   cloud_provider vp_group   category    subscription
0             AWS   Group1  CategoryA   Subscription1
1           Azure   Group2  CategoryB   Subscription2
2             GCP   Group1  CategoryC   Subscription3
3             AWS   Group3  CategoryA   Subscription4
4           Azure   Group1  CategoryB   Subscription5
5             GCP   Group2  CategoryC   Subscription6
6             AWS   Group3  CategoryA   Subscription7
7           Azure   Group1  CategoryB   Subscription8
8             GCP   Group2  CategoryC   Subscription9
9             AWS   Group3  CategoryA  Subscription10
10          Azure   Group1  CategoryB  Subscription11
11            GCP   Group2  CategoryC  Subscription12
12            AWS   Group3  CategoryA  Subscription13
13          Azure   Group1  CategoryB  Subscription14
14            GCP   Group2  CategoryC  Subscription15

In [38]:
hash_columns = ['cloud_provider', 'vp_group', 'category', 'subscription']
hash_columns
# df['hash'] = df[hash_columns].apply(hash)
# df.head()

['cloud_provider', 'vp_group', 'category', 'subscription']

In [41]:
import hashlib

def md5hash(s: str): 
    return hashlib.md5(s.encode('utf-8')).hexdigest() # or SHA, ...

# df['md5hash_selected'] = df['cloud_provider'].apply(md5hash)
df['md5hash_selected'] = df[['cloud_provider', 'vp_group', 'category', 'subscription']].apply(md5hash)
# or
# df['md5hash_all_fields'] = df.applymap(md5hash)

df.head()

AttributeError: 'Series' object has no attribute 'encode'